@font-face {
    font-family: "Pokemon";
    src: url(../fonts/Pokemon.ttf);
}

h1 {
    color: $principal_color;
}

h2 {
    color: $secondary_color;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.card {
    flex: 0 0 200px;
    margin: 10px;
    border: 1px solid $card_border_color;
    box-shadow: 2px 2px 6px 0px $shadow_card_border_color;
    color: $card_text_color;
    border-radius: 20px;
} 

.card:hover {
    box-shadow: none;
    cursor: pointer;
    color: $card_text_hover_color;
    
}

.card img {
    max-width: 100%;
    width: 5em;
    height: 5em;
}

.card .text {
    padding: 0 20px 20px;
}

.card .text > button {
    background-color: $button_background_color;
    border: 0;
    color: $text_card_color;
    padding: 10px;
    width: 100%;
}

.text {
    text-align: center;
    font-family: 'Pokemon';
    font-size: 2em;
  }
  
  .grass{
    background-color: $grass_color;
  }
  
  .fire{
    background-color: $fire_color;
  }
  
  .bug{
    background-color: $bug_color;
  }
  
  .water{
    background-color: $water_color;
  }
  
  .normal{
    background-color: $normal_color;
  }
  
  .default{
    background-color: $default_color;
  }