$principal_color: blue;
$secondary_color: green;
$card_border_color: #ccc;
$shadow_card_border_color: rgba(0,0,0,0.3);
$text_card_color: white;
$button_background_color: gray;

$grass_color: rgba(120, 200, 80, 0.5);
$fire_color: rgba(240, 80, 48, 0.5);
$bug_color: rgba(168, 184, 32, 0.5);
$water_color: rgba(56, 153, 248, 0.5);
$normal_color: rgba(168, 160, 144, 0.5);
$default_color: rgba(242, 242, 242, 1.0);
$card_text_hover_color: rgba(255, 255, 255, 1.0);
$card_text_color: rgba(0, 0, 0, 1.0);

/*$grass_color: #78C850;
$fire_color: #F05030;
$bug_color: #A8B820;
$water_color: #3899F8;
$normal_color: #A8A090;
$default_color: #F2F2F2;
$card_text_hover_color: white;
$card_text_color: black;*/
